.response {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.container {
  height: 100vh;
  overflow: auto;
  width: 100%;
  padding: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}